{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta-title }}</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" href="{{root}}assets/foundation-icons/foundation-icons.css" />
    <script src="http://foundation.zurb.com/sites/docs/assets/js/vendor.js?hash=eceb3a0cb6a9a3f95854c532a6ebbd81"></script>
    <script src="http://foundation.zurb.com/sites/docs/assets/js/foundation.js?hash=b679e2177e3de7e04f4c100d03af1ad3"></script>
    <script src="http://foundation.zurb.com/sites/docs/assets/js/docs.js?hash=9adc0ae1222c4567178bb0cc7f704ec5"></script>
  </head>
  <body>
    {{> nav-offcanvas}}
    <div class="off-canvas-wrapper">
      <div class="off-canvas-content" data-off-canvas-content>
      </div> <!-- off-canvas-content -->
    </div> <!-- off-canvas-wrapper -->

    {{> body}}

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
